---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

html, body {
    font-family: 'Droid Sans', sans-serif;
    width:100%;
    margin:0 auto;
    cursor:default;
}

table {
    border-collapse: collapse;
    margin:auto;
}

table,tr,td {
    border:1px solid;
}

td {
    padding:20px;
}

.title {
    text-align: center;
}

.centered {
    text-align: center;
}

a, a:visited {
    color:#0000EE;
}