---
layout: default
---
<div class="centered">
    <div class="post">
        <h1 class="title">{{p.title}}</h1>
        <div class="gh">
            <h3 class="title">GitHub Work</h3>
            <p>Daniel pushed <strong>{{page.github.commits}}</strong> commits for <strong>{{page.github.repos}}</strong> different projects</p>
        </div>
        <div class="social">
            <h3 class="title">Social Media Analysis</h3>
            <p>Higher scores indicate more positive posts, lower scores indicate more negative posts</p>
            <table class="table">
                <thead>
                    <tr>
                        <td><strong>Social Media</strong></td>
                        <td><strong>Posts</strong></td>
                        <td><strong>Sentiment Score</strong></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Twitter</td>
                        <td>{{page.twitter.tweets}}</td>
                        <td>{{page.twitter.sentiment}}</td>
                    </tr>
                    <tr>
                        <td>Facebook</td>
                        <td>{{page.facebook.posts}}</td>
                        <td>{{page.facebook.sentiment}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>